@charset "utf-8";

@media screen and (max-width:600px) {
  
  body{
    font-size:6vw;
    width: 100%;
  }  
  
  #contact .logo{
    display: none;
  }
  
  
#contact .icon{
  position: absolute; 
  top: 5px; 
  left: 0;
  margin: 10px 0 10px 0;
  font-size:10vw;
  width:auto;
}

#contact .form{ 
  padding: 90px 0 20px 0;
 
}
  
  
#contact section .btn{
  display: block;
  text-align: center;
  background-color: #003366;
  color: #fff;
  font-size: 6vw;
  width: 100%;
  line-height: 100px;
  border:2px solid #003366;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}
  
  #contact .form dl dt{
  max-width: 100%;
  max-height: 100%;
}


#contact .form dl dd{
  max-width: 100%;
  padding-bottom: 30px;
  max-height: 100%;
}

#contact .form .name{
  max-width: 100%;
  max-height: 100%;
}

#contact .form .email{
  max-width: 100%;
  max-height: 100%;
}

#contact .form .tel{
  max-width: 100%;
  max-height: 100%;
}

#contact .form .message{
  max-width: 100%;
  max-height: 100%;
}
 
retshop a{
  position: absolute;
  top: 300px;
  left: 0;
  font-size: 15px;
  letter-spacing: -0.1em;
  color:#313131;
  background-color: #eee;
  padding: 5px 5px;
  border:1px solid #eee;
  border-radius: 2px;
  box-shadow: 1px 1px #c6c6c6;
  text-decoration: none;
  overflow: hidden;
}  

  
  
  footer{
    display: none;
  }
  
  header{
    width:auto;
    margin: 0 5%;
  }
  
  #myac{
  position: relative;
 
}

#myac .logo{
display: none;
}

#myac .icon{
  position: absolute; 
  top: 10px; 
  left: 0;
  margin: 10px 0 30px 30px;
  font-size:8vw;
}

#myac .loginform{
  padding: 50px 0 50px 0;
   width:auto;
}

#myac .loginform .welcome{
  margin: 40px 0 30px 50px;
  font-size: 6vw;
}

#myac .loginform .log_pass{
  padding: 50px 50px;
  margin: 0;
  font-size: 2vw;
  color: #44617B;
  background-color: #f0fff0;
  width:auto;
}

#myac .loginform dl dt{
  width: 100%;
  margin:30px 0 0 0;
}

#myac .loginform dl dd{
  padding-bottom: 20px;
}

#myac .loginform dl dt{
 max-width: 100%;
  max-height: 100%;
}

#myac .loginform dl dd{
  max-width: 100%;
  max-height: 100%;
}

#myac .loginform .mail{
  max-width: 100%;
  height: 30px;
}

#myac .loginform .pass{
 max-width: 100%;
 height: 30px;
}

.btn{
  display: block;
  text-align: center;
  background-color: #003366;
  color: #fff;
  font-size: 8vw;
  width: 100%;
  line-height: 100px;
  border:2px solid #003366;
  border-radius: 2px;
  margin: 80px 0 0 0;
}


  
  
  
  }  
  
